{% extends "layout.html" %}


{%block content%}
<div class="contenedor">
<h1 class="display-6 mt-2 mb-3">Acerca de mi:</h1>

<h3>Pesate documents recipes and displays the cost of their ingredients in both Argentine pesos and US dollars.</h3>
<p>
    ¡Hola! Mi nombre es Pedro Alabart y soy estudiante de la carrera de análisis de sistemas. 
</p>
<p>

    La idea para el proyecto surgió de una realidad diaria que estaba experimentando.
    Tengo un pyme de comida donde vendo galletas, brownies, rollos de canela, etc.
    </p>
    <p>    Cada vez que vendía un producto, tenía que revisar cuánto había gastado comprando para saber cuanto cobrar.
    </p>
<p> Debido a mi necesidad y pasión por la tecnología, decidí crear una página web que permita a los usuarios almacenar recetas y calcular el costo de sus ingredientes.</p>
<p>
    Además, quería que permitiera seleccionar cuántas veces se quiere hacer esa receta.
    Por ejemplo, cuando hago galletas, me gusta hacer la misma receta tres veces a la vez para tener stock.
</p>
<p>
    Debido a la inestabilidad de nuestra moneda, también decidí calcular el precio en dólares para tener un
    mejor registro de mis gastos. 
</p>
</div>
{%endblock content%}