{% extends "layout.html" %}


{%block content%}

<h1 class="display-6 mt-2 mb-3">Acerca de mi:</h1>

<p>
    ¡Hola! Mi nombre es Pedro Alabart y soy estudiante de la carrera de análisis de sistemas. 
    Además de la tecnología, también me encanta cocinar. 
    En especial,  la repostería. Tengo mi propio emprendimiento de comida, vendo brownies, cookies, rollos de canela, alfajores, entre otras cosas.</p>
<p>Con el objetivo de documentar mis recetas y llevar un control de los costos, 
    decidí crear una aplicación que me permitiera calcular el costo de cada ingrediente</p>
<p>
    La aplicación toma como referencia el precio de los productos que consumo en el supermercado DIA y 
    calcula el costo de cada ingrediente. Además, para tener una mejor idea de los costos,
     incluí la opción de mostrar el precio de cada ingrediente en dólares, 
     utilizando el valor del dólar blue gracias a la página DolarSi.

</p>
{%endblock content%}