{% extends "layout.html" %}


{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form action="/borrar" method="post">

    <div class="contenedor">
        <h1 class="display-6 mt-2 mb-3">Borra una receta:</h1>
    <div class="input-group mb-3">
      {{form.receta.label(class_="input-group-text")}}

      {{form.receta(class_="form-control")}}
    </div>

    
        {{form.submit(class="btn btn-danger mt-3")}}
</form>

    {%endblock content%}