{% extends "layout.html" %}

{%block content%}
<div class="contenedor">
<!--SELECTOR DE RECETA-->
  <form action="/home" method="post">
    <h1 class="display-6 mt-2 mb-3">Seleccione una receta:</h1>
    <div class="input-group mb-3">
      {{form.recetas.label(class_="input-group-text")}}

      {{form.recetas(class_="form-control", onchange="this.form.submit()")}}
    </div>
  </form>

  </select>
<!--TABLA-->
<table class="table table-sm table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Ingrediente</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio ARG</th>
        <th scope="col">Precio USD</th>
      </tr>
    </thead>
    <tbody>
      {% if ingredientes_calculados %}
    
      {%for key, value in ingredientes_calculados.items()%}
      <tr>
        <td>
          {{key}}
        </td>
        <td>{{value['peso']}}</td>
        <td>{{value['precio_pesos']| pesos}}</td>
        <td>{{ value['precio_usd']| usd}}</td>
      </tr>

      {%endfor%}
      {% endif%}
      

      <tr id="bg-beige">
        <th>Total</th>
        <th></th>
        {%if total_usd%}
        <th >{{total_pesos|pesos}}</th>
        {% else %}
        <th></th>

        {% endif %}
        
        {%if total_usd%}
        <th >{{ total_usd|usd}}</th>
        {% else %}
        <th></th>
        {% endif %}
      </tr>
    </tbody>
  </table>

</div>
{%endblock content%}


