{% extends "layout.html" %}


{%block content%}

<!--TABLA-->
<div class="contenedor">
  <h1 class="display-6 mt-2">Agrega una receta:</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Receta:</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>

  
  <table class="table table-striped" id="tabla_receta">
    <thead>
      <tr>
        <th scope="col">Ingrediente</th>
        <th scope="col">Cantidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tabla_recetada">
      <tr>
        <td>
          <select class="form-select form-select-lg">
            <option selected disabled>Selecciona un ingrediente</option>
            {% for i in lista_productos %}
            <option value={{i|safe}}>{{i|safe}}</option>
            {{ i|safe }}
            {% endfor %}
          </select>
        </td>
        <td>
          <input id="Ing_Cant" type="number" class="contenedor">
        </td>
        <td>
          <a href="#" class="btn btn-danger btn-sm delete">
            X
          </a>  
        </td>
      </tr>

    </tbody>
    
  </table>
  <div class="d-flex justify-content-between">
    <button class="btn btn-info mt-3" id="btn_add_fila">Añadir un ingrediente</button>
    <input type="submit" class="btn btn-success mt-3" value="Guardar receta">
</div>

</div>




<script>
  btn_add_fila.addEventListener('click', añadir_fila2)
  function añadir_fila2(){
    const tabla = document.getElementById('tabla_recetada')

    const row = document.createElement('tr')

    
    row.innerHTML = `
    <tr>
        <td>
          <select class="form-select form-select-lg">
            <option selected disabled>Selecciona un ingrediente</option>
            {% for i in lista_productos %}
            <option value={{i|safe}}>{{i|safe}}</option>
            {{ i|safe }}
            {% endfor %}
          </select>
        </td>
        <td>
          <input id="Ing_Cant" type="number" class="contenedor">
        </td>
        <td>
          <a href="#" class="btn btn-danger btn-sm delete">
            X
          </a>  
        </td>
      </tr>
    `
    tabla.appendChild(row);
}

</script>
{%endblock content%}